Flask==2.3.2
Werkzeug==2.3.7
requests
Flask-SQLAlchemy==3.0.5
google-generativeai
Flask-Login
openai>=1.0.0
Flask-Talisman
Flask-Limiter
python-dotenv
urllib3
psycopg2-binary==2.9.10
pg8000
cloudinary